@import "tailwindcss";

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Oxygen-Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	width: 100%;
	min-height: 100vh;
}

#root {
	width: 100%;
	min-height: 100vh;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
